@font-face {
  font-family: 'Monocraft';
  src: url('Monocraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Monocraft', Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

#weather {
  font-size: 48px; /* Ajustar según el tamaño deseado */
  margin: 20px 0;
  cursor: pointer; /* Cambiar el cursor a un puntero al pasar sobre el texto */
}
